<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pin</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.pin %></td>
        <td class="pull-right"><%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary btn-xs"  %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


