<footer id="footer">

  <nav class="navbar navbar-inverse navbar-fixed-bottom" style="width: 100%:"role="navigation">
    <p class="navbar-text pull-left" style="display: inline-block; padding-left: 15px">
      Datacomp Door-A-Com

      <p class="navbar-text pull-right" style="display: inline-block; padding-right: 15px">
        Making a door smarter than a small child
      </p>
    </nav>

  </footer>
