.navbar-default {
  border-color: #113b6b !important ; 

}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  height: 100%;

}

.navbar {
  background-color: #404041;

}

.navbar_div {
  height: 60px;
}

.navbar-link {
  color: #ffffff
}

.navbar-text {
  color: #ffffff !important
}

.navbar-nav > .active > a{
  background-color: darken(#a7ac74, 20%) !important ;
  color: #ffffff !important ;
  border-color: #C64521;
}

.navbar-nav > li > a {
  color: #ffffff !important;
}

.navbar-nav > li > a:hover {
  color: #ffffff !important;
  background-color: #a7ac74 !important;
}

body {
  background-image: image-url("background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dashboard {

}

.dashboard .column {
  height:1000px;
}


[data-behaviour="datetimepicker"] {
  width: 25%;
}